@model ExternalData.Models.OrgRating

<head>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <table id="MainTable" class="Display dt-resposnive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>INN</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @**foreach (var item in Model.OrgRatings)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.organization.INN)</td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            </tr>
            }*@
        </tbody>
    </table>
</body>

@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script  src="~/js/MainTable.js"></script>
}